body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: antiquewhite;
}
.back{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
button{
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.10em;
    border: none;
    border-radius: 5px;
}
.sound{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    gap: 5px;
    box-sizing: border-box;
}
.text{
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
}
.logo{
    margin-top: 2px;
}
.main{
    background-color: aqua;
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.box{
    width: 20%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.but{
    width: auto;
    text-align: center;
    height: auto;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 1.5em;
    color: transparent;
}
.box:hover .but {
    color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}
.box1{
    background-color: #cd84f1;
}
.box2{
    background-color: #ffcccc;
}
.box3{
    background-color: #ff4d4d;
}
.box4{
    background-color: #ffaf40;
}
.box5{
    background-color: #fffa65;
}
.box6{
    background-color: #c56cf0;
}
.box7{
    background-color: #ffb8b8;
}
.box8{
    background-color: #ff3838;
}
.box9{
    background-color: #ff9f1a;
}
.box10{
    background-color: #fff200;
}
.box11{
    background-color: #32ff7e;
}
.box12{
    background-color: #7efff5;
}
.box13{
    background-color: #18dcff;
}
.box14{
    background-color: #7d5fff;
}
.box15{
    background-color: #4b4b4b;
}
.box16{
    background-color: #3ae374;
}
.box17{
    background-color: #67e6dc;
}
.box18{
    background-color: #17c0eb;
}
.box19{
    background-color: #7158e2;
}
.box20{
    background-color: #3d3d3d;
}
@media screen and (max-width: 500px) {
    .text{
        display: none;
    }
    .but{
    width: auto;
    text-align: center;
    height: auto;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 1em;
}
}
@media screen and (max-width: 400px) {
    button{
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 0.75em;
    border: none;
}
.but{
    width: auto;
    text-align: center;
    height: auto;
    padding: 5px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 0.75em;
}
}