body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: antiquewhite;
}
.back{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
button{
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.10em;
    border: none;
    border-radius: 5px;
}
.sound{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    gap: 5px;
    box-sizing: border-box;
}
.text{
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
}
.logo{
    margin-top: 2px;
}
.main{
    background-color: aqua;
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.box{
    width: 20%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.but{
    width: auto;
    text-align: center;
    height: auto;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 1.5em;
    color: transparent;
}
.box:hover .but {
    color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}
.box1{
    background-color: #f3a683;
}
.box2{
    background-color: #f7d794;
}
.box3{
    background-color: #778beb;
}
.box4{
    background-color: #e77f67;
}
.box5{
    background-color: #cf6a87;
}
.box6{
    background-color: #f19066;
}
.box7{
    background-color: #f5cd79;
}
.box8{
    background-color: #546de5;
}
.box9{
    background-color: #e15f41;
}
.box10{
    background-color: #c44569;
}
.box11{
    background-color: #786fa6;
}
.box12{
    background-color: #f8a5c2;
}
.box13{
    background-color: #63cdda;
}
.box14{
    background-color: #ea8685;
}
.box15{
    background-color: #596275;
}
.box16{
    background-color: #574b90;
}
.box17{
    background-color: #f78fb3;
}
.box18{
    background-color: #3dc1d3;
}
.box19{
    background-color: #e66767;
}
.box20{
    background-color: #303952;
}
@media screen and (max-width: 500px) {
    .text{
        display: none;
    }
    .but{
    width: auto;
    text-align: center;
    height: auto;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 1em;
    color: transparent;
}
}
@media screen and (max-width: 400px) {
    button{
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 0.75em;
    border: none;
}
.but{
    width: auto;
    text-align: center;
    height: auto;
    padding: 5px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 0.75em;
    color: transparent;
}
}